
h1 {
    text-align: center;
    font-size: 70px;
    border-bottom: 1px dashed grey;
    margin: 0px 0px;
    padding:30px 30px ;
}
a { /* a 태그에 대한 모든 폰트 색을 pink 색으로 */
    color:black;
    text-decoration: none; /* 밑줄 없도록 */
}
#active {
    color:seagreen;
    font-weight: bold;
}
#content {
    border-left: 1px dashed grey;
    padding-left: 20px;
    margin-top: 0px;
}
#idx{
    margin-right: 10px;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.saw {
    color:darkslategrey;
    text-decoration: underline;
}
@media (max-width:700px) { /*화면 너비가 800px보다 작을 때*/
    #grid {
        display: block;
    }
    h1{
        border-bottom: none;
    }
    #content{
        border-left: none;
    }
}
